header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
}
.nav {
    background-color: var(--black);
    padding: 1em;
    
    &__container {
        width: 90%;
        max-width: 71.25em;
        margin: 0 auto;
        @include flex ( row , wrap, space-between, center);
        //background-color: cadetblue;
        
    }
    &__logo {
        order: -2;

        max-width: 100px;
        @include media () {
            width: 73.5008px;
        }

    }
    &__svg {
        width: 100%; 
        min-width: 73.5008px ;

        &--line{color: var(--gold-brand); fill: currentColor;}
        &--text{color: var(--white); fill: currentColor;}
        &--dot{color: var(--red-brand); fill: currentColor;}
    }
    &__right {
        @include flex ( row , nowrap, center, center);
        gap: 1em;

    }
    &__menu {
        order: -1;
        
        @include media (780px){
            overflow: hidden;
            opacity: 0;
            position: absolute;
            pointer-events: none;
            gap: 2em;
            top: 100%;
            right: 0;

            @include flex (column , nowrap , flex-start , center);
            width: 100%;
            height: 0vh;

            padding: 2em 1em;
            background-color: var(--black-autonoma);
            //background: linear-gradient(177deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
            background: linear-gradient(180deg, rgba(0,0,0,1) 34%, rgba(0,0,0,0) 100%);
            @include text ( 1.5em, 1rem, 800);
            transition: all .4s ease;

            &--active {
                opacity: 1;
                pointer-events: auto;
                height: 100vh;
                //border-top: solid 1px var(--grey-dark);

                

            }
        }
    }

    &__list {
        @include flex ( row , nowrap, center, center);
        gap: 1em;

        @include media (780px){
                @include flex (column , nowrap , center , flex-start);
                gap: 1em;      
        }
        
    }

    &__item {
        width: 100%;
    }

    &__link {
        min-width: max-content;
        color: var(--white);
        padding: .5em 1em;

        

        &--primary {
            color: var(--black-autonoma );
            border-radius: .5em;
            border: solid .0625rem var(--gold-brand);
            background-color: var(--gold-brand);
            transition: background-color .2s ease;
            font-weight: 700;
            
            &:hover {
                background-color: var(--gold-light-brand);
            }
        }
        &--secundary {  
            border-radius: .5em;
            border: solid .0625rem transparent;
            transition: all .2s ease;
            font-weight: 700;

            @include media (768px){
                border-radius: 0;
                border: none;
            }
            
            &:hover {
                color: var(--gold-brand);
                border: solid .0625rem var(--gold-brand);

                @include media (768px){
                    border-radius: 0;
                    border: none;
                    border-bottom: solid .0625rem var(--gold-brand);
                    padding: .5em 1em .5em 2em;
                }
            }
        }

        
    }
    
    &__button{  
        display: none;
        max-width: 40px;
        min-width: 40px;
        height: 40px;
        
        cursor: pointer;
        border: solid 1px transparent;
        border-radius: .5em;
        transition: background-color .2s ease;

        color: var(--white);
        fill: currentColor;
        
        &:hover {
            border: solid 1px var(--gold-brand);
            background-color: var(--black);
            color: var(--gold-brand);
            fill: currentColor;
        }
        @include media (780px){
            display: block;
            width: 100%;
        }
    }
    &__icon {
        max-width: 24px;

        margin: 0 auto;
    }
    &__hamburger {
        width: 100%;
    }
    &__blank {
        flex: 1; 
        width: 100%;

    }

    }


    




